{% set showIcons = (settings_general.labels_as_icons.enabled or preferredLanguage != 'nl') %}

<div class="cnw_row cnw_d-flex cnw_searchresult-detail {% if showIcons %} labels-as-icons {% endif %}" data-view-tracking-category="detail" data-view-tracking-extra-data="{{ tag_manager_data }}">

    {% if settings.image.enabled and event.image is defined %}
        <div class="cnw_col-4 {% if settings.image.position == 'right' %} cnw_flex-md-last{% endif %}">
            <img src="{{ event.image }}" alt="{{ event.name }}" class="cnw_img_responsive {{ settings.image.position }}">
            {% if event.copyright %}
            <p class="cnw_copyright">{{ '&copy;' }} {{event.copyright}}</p>
            {% endif %}
        </div>
    {% endif %}

    <div class="{% if settings.image.enabled %}cnw_col-8 {% else %} cnw_col-12{% endif %} cnw_flex-md-first">
        <div class="cnw_region cnw_region-content">

            <section class="cnw_block cnw_block-system cnw_clearfix">
                <h1 class="cnw_page-title">{{ event.name }}</h1>

            <span class="cnw_stickers ">
                {% if settings.icon_vlieg.enabled and event.vlieg %}
                    <span class="cnw_sticker cnw_sticker--vlieg">
                        <span class="cnw_txt">{{ event.vlieg }}</span>
                    </span>
                {% endif %}
                {% if settings.icon_museumpass.enabled and event.museumpas %}
                    <span class="cnw_sticker cnw_sticker--museumpas">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 118.4 75.3" xml:space="preserve"><style>.st0{fill:#191734}.st2{fill:#e61f63}</style><path class="st0" d="M29.2 26.3l-1-7.6-3.5 7.6h-1.1l-3.5-7.6-1 7.6h-3.7l2-13.2H21l3.1 7.2 3.1-7.2h3.6l2 13.2h-3.6zM72.1 21.3v-8.1h3.7v8c0 1.3.8 2.1 2 2.1s2-.8 2-2.1v-8h3.7v8.1c0 3.2-2.4 5.4-5.7 5.4-3.3 0-5.7-2.2-5.7-5.4zM99.3 26.3l-1-7.6-3.5 7.6h-1.1l-3.5-7.6-1 7.6h-3.7l2-13.2h3.6l3.1 7.2 3.1-7.2h3.6l2 13.2h-3.6zM29.2 62.1l-1-7.6-3.5 7.6h-1.1l-3.5-7.6-1 7.6h-3.7l2-13.2H21l3.1 7.2 3.1-7.2h3.6l2 13.2h-3.6zM34.8 57v-8h3.7v8c0 1.3.8 2.1 2 2.1s2-.8 2-2.1v-8h3.7v8c0 3.2-2.4 5.4-5.7 5.4-3.3.1-5.7-2.1-5.7-5.4zM82.7 57.9h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3h-3.6c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2-.1-5.3-1.8-5.3-4.6z"/><g><path class="st2" d="M34.8 21.3v-8.1h3.7v8c0 1.3.8 2.1 2 2.1s2-.8 2-2.1v-8h3.7v8.1c0 3.2-2.4 5.4-5.7 5.4-3.3 0-5.7-2.2-5.7-5.4zM48.4 22.1h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3H55c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2 0-5.3-1.7-5.3-4.6zM69.8 23.2v3.1h-8.6V13.2h8.4v3.1h-4.8v1.9h4.3v3h-4.3v2h5zM26.7 35.8c0 2.8-2.1 4.8-4.9 4.8h-2v3.6h-3.6V31.1h5.6c2.8 0 4.9 2 4.9 4.7zm-3.7 0c0-.9-.6-1.6-1.6-1.6h-1.5v3.2h1.5c.9 0 1.6-.6 1.6-1.6zM35.6 42.1H31l-.7 2.1h-3.9L31.6 31h3.5l5.3 13.2h-4l-.8-2.1zm-2.3-6.9l-1.4 4.1h2.9l-1.5-4.1zM40.8 40h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3h-3.6c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2 0-5.3-1.8-5.3-4.6zM53 40h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3h-3.6c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2 0-5.3-1.8-5.3-4.6zM48.4 57.9h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3H55c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2-.1-5.3-1.8-5.3-4.6zM69.8 59v3.1h-8.6V49h8.4v3.1h-4.8V54h4.3v3h-4.3v2h5zM80.9 59v3.1h-8.6V49h8.4v3.1h-4.8V54h4.3v3h-4.3v2h5zM63.4 47.4l-.6-1.8 4.9-2 .5 2.8z"/></g></svg>
                    </span>
                {% endif %}
                {% if settings.icon_uitpas.enabled and event.uitpas %}
                    <span class="cnw_sticker cnw_sticker--uitpas">

                        <svg width="58px" height="37px" viewBox="0 0 58 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <polygon id="path-1" points="0.4192 0.211 28 0.211 28 11 0.4192 11"></polygon>
                        </defs>
                        <g transform="scale(0.78)">
                            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="DESKTOP-RESULTS" transform="translate(-788.000000, -1269.000000)">
                                    <g id="AE-UiTPAS" transform="translate(768.000000, 1248.000000)">
                                        <g id="kaart" transform="translate(20.750000, 21.250001)">
                                            <rect id="Rectangle" fill="#27856E" x="0" y="0" width="57" height="36" rx="2"></rect>
                                            <g id="UiTPAS-logo" transform="translate(6.000000, 12.000000)">
                                                <path d="M6.0225,7.2495 C6.0225,7.9575 5.9475,8.5285 5.4065,9.0375 C4.9215,9.4925 4.3305,9.6515 3.7345,9.7025 C3.2175,9.7485 2.5435,9.6695 2.1055,9.3625 C1.5065,8.9295 1.3885,8.2885 1.3885,7.4695 L1.3885,2.9585 L3.1535,3.1055 L3.1535,7.1935 C3.1535,7.4135 3.1425,7.7095 3.2565,7.9065 C3.3895,8.1095 3.6525,8.1825 3.8745,8.1725 C4.0715,8.1635 4.3185,8.0875 4.4655,7.9325 C4.6885,7.7115 4.6675,7.3825 4.6675,7.0885 L4.6675,3.2315 L6.0225,3.3455 L6.0225,7.2495" id="Fill-1" fill="#FFFFFE"></path>
                                                <path d="M8.1855,4.8697 L6.5575,4.7977 L6.5575,3.3907 L8.1855,3.5257 L8.1855,4.8697 Z M8.1855,9.2067 L6.5575,9.3417 L6.5575,5.2617 L8.1855,5.3127 L8.1855,9.2067 Z" id="Fill-3" fill="#FFFFFE"></path>
                                                <polygon id="Fill-5" fill="#FFFFFE" points="11.4355 8.9654 9.7895 9.1034 9.7895 4.9694 8.6055 4.9174 8.6055 3.5604 12.5975 3.8934 12.5975 5.0904 11.4355 5.0394"></polygon>
                                                <polygon id="Fill-7" fill="#FFFFFE" points="0 1.1504 17.412 1.1504 17.412 11.6334 0 11.6334 13.929 9.8864 13.929 2.8974"></polygon>
                                                <g id="Group-11" opacity="0.496299" transform="translate(17.000000, 0.789100)">
                                                    <mask id="mask-2" fill="white">
                                                        <use xlink:href="#path-1"></use>
                                                    </mask>
                                                    <g id="Clip-10"></g>
                                                    <path d="M23.3262,11 C21.1232,11 19.1692,10.083 18.6012,7.806 L21.5832,7.271 C21.8592,8.203 22.5622,8.54 23.4952,8.54 C23.9072,8.54 24.7322,8.479 24.7322,7.898 C24.7322,7.256 23.9222,7.134 23.4482,7.042 C21.4742,6.66 19.1372,6.125 19.1372,3.634 C19.1372,2.61 19.6422,1.602 20.4812,1.005 C21.3392,0.41 22.4542,0.211 23.4952,0.211 C25.3132,0.211 27.0672,0.959 27.7132,2.778 L25.0522,3.588 C24.7472,2.809 24.1652,2.534 23.3542,2.534 C22.9282,2.534 22.3182,2.656 22.3182,3.206 C22.3182,3.756 23.0822,3.863 23.4762,3.955 C24.4712,4.153 25.5252,4.321 26.4432,4.796 C27.4662,5.346 28.0002,6.324 28.0002,7.47 C28.0002,9.991 25.4962,11 23.3262,11 M18.4042,10.847 L15.1192,10.847 L14.5232,8.785 L11.7252,8.785 L11.0832,10.847 L8.4722,10.847 L11.7252,0.364 L15.1192,0.364 L18.4042,10.847 M13.1172,3.45 L12.2602,6.492 L13.9712,6.492 L13.1172,3.45 M3.6732,10.847 L0.4192,10.847 L0.4192,0.364 L4.6952,0.364 C5.7212,0.364 6.8652,0.394 7.7692,0.914 C8.7442,1.495 9.3262,2.534 9.3262,3.665 C9.3262,4.658 8.9452,5.605 8.1642,6.232 C7.3562,6.889 6.3162,7.042 5.3082,7.042 L3.6732,7.042 L3.6732,10.847 M3.6732,2.763 L3.6732,4.796 L4.5122,4.796 C5.2472,4.796 6.1332,4.75 6.1332,3.772 C6.1332,2.839 5.3372,2.763 4.6052,2.763 L3.6732,2.763" id="Fill-9" fill="#FFFFFE" mask="url(#mask-2)"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                    </span>
                {% endif %}
            </span>

                <p class="cnw_card-description">
                {% if settings.type.enabled and event.typeId is defined %}
                    <span class="cnw_badge cnw_badge-default" >
                        <i class="cnw-fa cnw-fa-tags" aria-hidden="true"></i>
                        {{ event.typeId | transTo(preferredLanguage, 'eventtype') }}
                    </span>
                {% endif %}
                {% if settings.theme.enabled %}
                      {% for theme in event.themes %}
                          <span class="cnw_badge cnw_badge-default">
                              <i class="cnw-fa cnw-fa-tags" aria-hidden="true"></i>
                              {{ theme }}
                          </span>
                      {% endfor %}
                {% endif %}
                </p>

                <div class="cnw_detail-summary">

                    {% if event.summary %}

                      <div class="cnw_detail-short-summary">
                          {{ event.summary | raw }}
                      </div>

                      <a href="#" class="cnw_detail-summary-toggle" aria-expanded="false">{{ 'event_read_more'| transTo(preferredLanguage) }}</a>

                    {% endif %}

                      <div class="cnw_detail-full-description">
                          {{ event.description | raw }}
                      </div>

                </div>

                <p class="cnw_searchresult-detail-block-title">{{ 'event_detail_info'| transTo(preferredLanguage) }}</p>


                <dl class="cnw_row cnw_searchresult-detail-info">
                    {% if settings.where.enabled and event.where %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.where.label }}</em>
                        <i class="cnw-fa cnw-fa-map-marker"></i>
                    </dt>
                    <dd>
                        {{ event.where.name }}
                        {% if event.where.address %}
                        <br/>
                        {{ event.where.address.street }}<br/>
                        {{ event.where.address.postalcode }} {{ event.where.address.city }}
                        {% if settings.map %}
                            <br/>
                            <a href="{{ event.directions_link }} " target="_blank">{{ 'event_directions'| transTo(preferredLanguage) }}</a>
                        {% endif %}
                        {% endif %}
                    </dd>
                    {% endif %}

                    {% if settings.when.enabled and event.when_details %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.when.label }}</em>
                        <i class="cnw-fa cnw-fa-calendar"></i>
                    </dt>
                    <dd class="cnw-event-date-container">
                        {{ event.when_details | raw }}
                        <a href="#" class="cnw-event-date-info-toggle cnw_hidden" aria-expanded="false">
                            <span>{{ 'event_detail_show_all_dates'| transTo(preferredLanguage) }}</span>
                            <span>{{ 'event_detail_show_less_dates'| transTo(preferredLanguage) }}</span>
                        </a>
                    </dd>
                    {% endif %}

                    {% if settings.age.enabled and event.age_range %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.age.label }}</em>
                        <i class="cnw-fa cnw-fa-male"></i>
                    </dt>
                    <dd>{{ event.age_range }}</dd>
                    {% endif %}

                    {% if settings.audience is defined and settings.audience.enabled and event.audience is defined and event.audience == "members" %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.audience.label }}</em>
                        <i class="cnw-fa cnw-fa-male"></i>
                    </dt>
                    <dd>{{ 'event_detail_member_specific'| transTo(preferredLanguage) }}</dd>
                    {% endif %}

                    {% if settings.language_icons.enabled and event.language_icons %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ 'event_detail_language_icons'| transTo(preferredLanguage) }}</em>
                            <i class="cnw-fa cnw-fa-language"></i>
                        </dt>
                        <dd>{{ event.language_icons | raw }}</dd>
                    {% endif %}

                    {% if settings.price_information and event.price %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ 'event_detail_price'| transTo(preferredLanguage) }}</em>
                            <i class="cnw-fa cnw-fa-eur"></i>
                        </dt>
                        <dd class="cnw_searchresult-detail-price-info">{{ event.price | raw}}</dd>
                    {% endif %}

                    {% if settings.reservation_information and event.booking_info %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ 'event_detail_reservations'| transTo(preferredLanguage) }}</em>
                            <i class="cnw-fa cnw-fa-ticket"></i>
                        </dt>
                        <dd>
                            <ul class="cnw_searchresult-detail-booking-info">
                            {% if (event.booking_info.phone is defined) %}
                                <li>{{ 'event_detail_phone'| transTo(preferredLanguage) }} <strong>{{ event.booking_info.phone }}</strong></li>
                            {% endif %}
                            {% if (event.booking_info.email is defined) %}
                                <li>{{ event.booking_info.email }}</li>
                            {% endif %}
                            {% if (event.booking_info.url is defined) %}
                                <li><a href="{{ event.booking_info.url.url }}" target="_blank" data-click-tracking-category="detail" data-click-tracking-action="ticket" data-click-tracking-label="{{ event.name }}">{{ event.booking_info.url.label }}</a> </li>
                            {% endif %}
                            </ul>
                        </dd>
                    {% endif %}

                </dl>

                <dl class="cnw_row cnw_searchresult-detail-info">
                    {% if settings.organizer.enabled and event.organizer %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ settings.organizer.label }}</em>
                            <i class="cnw-fa cnw-fa-building-o"></i>
                        </dt>
                        <dd>{{ event.organizer }}</dd>
                    {% endif %}
                    {% if settings.contact_information and event.contact_info and (event.contact_info.emails or event.contact_info.phone_numbers) %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_contact'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-phone"></i>
                    </dt>
                    <dd>
                        {% for email in event.contact_info.emails %}
                            <a href="mailto:{{ email }}">{{ email }}</a><br/>
                        {% endfor %}
                        {% for phone_number in event.contact_info.phone_numbers %}
                           {{ phone_number }}<br/>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.uitpas_benefits and event.uitpas_promotions %}

                        <dt>UiTPAS</dt>
                        <dd>
                            {{ event.uitpas_promotions | raw }}
                        </dd>

                    {% endif %}

                    {% if settings.contact_information and event.links %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_links'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-external-link"></i>
                    </dt>
                    <dd>
                        {% for link in event.links %}
                            <a href="{{ link }}" data-click-tracking-category="detail" data-click-tracking-action="contact" data-click-tracking-label="{{ link }}" target="_blank" class="cnw_searchresult-detail-link">{{ link }}</a><br/>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.language_switcher and event.language_switcher|length > 1 %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_languages'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-globe"></i>
                    </dt>
                    <dd>
                        {% for link in event.language_switcher %}
                            {{ link | raw }}
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.labels.enabled and event.labels %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_labels'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-tag"></i>
                    </dt>
                    <dd>
                        {%  for label in event.labels %}
                            <span class="cnw_searchresult-detail-tags-item">{{ label }}</span>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.facilities.enabled %}
                        <dt class="cnw_col-3">
                            <em class="cnw_searchresult-detail-label">{{ settings.facilities.label }}</em>
                            <i class="cnw-fa cnw-fa-wheelchair-alt"></i>
                        </dt>
                        <dd class="cnw_col-9">
                            {% include 'widgets/facility-summary.html.twig' with { 'event': event } %}
                        </dd>
                    {% endif %}



                    {% if settings.share_buttons and event.share_links %}
                        <dt>
                          <em class="cnw_searchresult-detail-label">{{ 'event_detail_share'| transTo(preferredLanguage) }}</em>
                          <i class="cnw-fa cnw-fa-share-alt"></i>
                        </dt>
                        <dd>
                            <a href="{{ event.share_links.facebook }}" data-click-tracking-category="detail" data-click-tracking-action="share facebook" class="cnw-share cnw-share-facebook" target="_blank"><i class="cnw-fa cnw-fa-facebook"></i> <span>Facebook</span></a>
                            <a href="{{ event.share_links.twitter }}" data-click-tracking-category="detail" data-click-tracking-action="share twitter" class="cnw-share cnw-share-twitter" target="_blank"><i class="cnw-fa cnw-fa-twitter"></i> <span>Twitter</span></a>
                        </dd>
                    {% endif %}


                </dl>

                {% if settings.articles.enabled and articles %}
                  {% include 'widgets/search-results-widget/articles.html.twig' with { 'articles': articles } %}
                {% endif %}

                {% if settings.back_button.enabled %}
                    <div class="cnw_searchresult-detail-back-button">
                        <a href="{{ event.back_link }}">&laquo; {{ settings.back_button.label }}</a>
                    </div>
                {% endif %}


            </section>


        </div>
    </div>

</div>
