{% set showIcons = (settings_general.labels_as_icons.enabled or preferredLanguage != 'nl') %}

<div class="cnw_row cnw_d-flex cnw_searchresult-detail {% if showIcons %} labels-as-icons {% endif %}" data-view-tracking-category="detail" data-view-tracking-extra-data="{{ tag_manager_data }}">

    {% if settings.image.enabled and event.image is defined %}
        <div class="cnw_col-4 {% if settings.image.position == 'right' %} cnw_flex-md-last{% endif %}">
            <img src="{{ event.image }}" alt="{{ event.image_description }}" class="cnw_img_responsive {{ settings.image.position }}">
            {% if event.copyright %}
            <p class="cnw_copyright">{{ '&copy;' }} {{event.copyright}}</p>
            {% endif %}
        </div>
    {% endif %}

    <div class="{% if settings.image.enabled %}cnw_col-8 {% else %} cnw_col-12{% endif %} cnw_flex-md-first">
        <div class="cnw_region cnw_region-content">


            <section class="cnw_block cnw_block-system cnw_clearfix">
                <h1 class="cnw_page-title">{{ event.name }}</h1>

                {% set summary_class = '' %}


                {% if settings.icon_vlieg.enabled and event.vlieg %}
                    {% set summary_class = ' has-cnw-icon' %}
                    <span class="cnw_sticker cnw_sticker--vlieg">
                        <span class="cnw_txt">{{ event.vlieg }}</span>
                    </span>
                {% endif %}

                {% if settings.icon_uitpas.enabled and event.uitpas %}

                    {% set class = '' %}
                    {% set summary_class = ' has-cnw-icon' %}
                    {% if settings.icon_vlieg.enabled and event.vlieg %}
                    {% set class = ' cnw_sticker--has-vlieg '%}
                        {% set summary_class = ' has-both-cnw-icons' %}
                    {% endif %}

                    <span class="cnw_sticker cnw_sticker--uitpas{{ class }}">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 343 180.774">
                            <defs>
                                <path id="a" d="M0 .001v180.773l343-30.129v-120.515z"/>
                            </defs>
                            <clipPath id="b">
                                <use xlink:href="#a" overflow="visible"/>
                            </clipPath>
                            <linearGradient id="c" gradientUnits="userSpaceOnUse" x1="-202.407" y1="756.838" x2="-201.407" y2="756.838" gradientTransform="matrix(343 0 0 -343 69425.75 259685.594)">
                                <stop offset="0" class="uit-logo-bg" />
                                <stop offset="1" class="uit-logo-bg" />
                                <stop offset="1" class="uit-logo-bg" />
                            </linearGradient>
                            <path clip-path="url(#b)" fill="url(#c)" d="M0 .001h343v180.773h-343z"/>
                            <path  fill="#fff" d="M94.35 95.196c0 3.974-.416 7.174-3.461 10.03-2.72 2.551-6.046 3.443-9.371 3.729-2.902.255-6.69-.186-9.138-1.905-3.368-2.435-4.016-6.027-4.016-10.618v-25.302l9.882.824v22.931c0 1.229-.05 2.892.595 3.996.742 1.139 2.218 1.547 3.462 1.494 1.11-.055 2.494-.478 3.325-1.348 1.247-1.236 1.107-3.082 1.107-4.734v-21.629l7.615.634v21.898zM106.487 106.176l-9.138.756v-22.887l9.138.287v21.844zm0-24.327l-9.138-.401v-7.898l9.138.759v7.54zM124.715 104.82l-9.231.771v-23.185l-6.647-.29v-7.608l22.385 1.868v6.711l-6.507-.283zM60.578 60.988h97.652v58.799h-97.652l78.124-9.801v-39.198z"/>
                            <path class="uit-logo-text"   d="M260.182 102.723c3.168 12.768 14.135 17.906 26.473 17.906 12.166 0 26.217-5.654 26.217-19.791 0-6.424-2.999-11.907-8.74-14.989-5.138-2.658-11.051-3.601-16.62-4.712-2.228-.516-6.51-1.114-6.51-4.199 0-3.086 3.425-3.77 5.826-3.77 4.54 0 7.794 1.541 9.507 5.912l14.91-4.54c-3.602-10.198-13.452-14.394-23.646-14.394-5.826 0-12.08 1.114-16.877 4.454-4.713 3.343-7.541 8.998-7.541 14.738 0 13.965 13.109 16.959 24.159 19.103 2.656.517 7.196 1.201 7.196 4.798 0 3.258-4.626 3.598-6.938 3.598-5.229 0-9.166-1.885-10.711-7.108l-16.705 2.994zm-35.555-7.368l4.798-17.05 4.798 17.05h-9.596zm16.021 24.417h18.418l-18.418-58.77h-19.018l-18.25 58.77h14.648l3.602-11.563h15.678l3.34 11.563zm-64.168-33.923v-11.395h5.226c4.112 0 8.567.427 8.567 5.655 0 5.482-4.967 5.74-9.08 5.74h-4.713zm0 12.591h9.168c5.653 0 11.479-.856 16.02-4.54 4.369-3.515 6.512-8.826 6.512-14.394 0-6.339-3.254-12.166-8.74-15.42-5.053-2.913-11.478-3.084-17.217-3.084h-23.988v58.77h18.246v-21.332z"/>
                            <path fill="none" d="M158.235 60.15h154.636v60.479h-154.636z"/>
                        </svg>

                    </span>
                {% endif %}

                <div class="cnw_detail-summary{{ summary_class }}">

                    {% if event.summary %}

                      <div class="cnw_detail-short-summary">
                          {{ event.summary | raw }}
                      </div>

                      <a href="#" class="cnw_detail-summary-toggle">{{ 'event_read_more'| transTo(preferredLanguage) }}</a>

                    {% endif %}

                      <div class="cnw_detail-full-description">
                          {{ event.description | raw }}
                      </div>

                </div>

                <p class="cnw_searchresult-detail-block-title">{{ 'event_detail_info'| transTo(preferredLanguage) }}</p>


                <dl class="cnw_row cnw_searchresult-detail-info">
                    {% if settings.where.enabled and event.where %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.where.label }}</em>
                        <i class="cnw-fa cnw-fa-map-marker"></i>
                    </dt>
                    <dd>
                        {{ event.where.name }}
                        {% if event.where.address %}
                        <br/>
                        {{ event.where.address.street }}<br/>
                        {{ event.where.address.postalcode }} {{ event.where.address.city }}
                        {% if settings.map %}
                            <br/>
                            <a href="{{ event.directions_link }} " target="_blank">{{ 'event_directions'| transTo(preferredLanguage) }}</a>
                        {% endif %}
                        {% endif %}
                    </dd>
                    {% endif %}

                    {% if settings.when.enabled and event.when_details %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.when.label }}</em>
                        <i class="cnw-fa cnw-fa-calendar"></i>
                    </dt>
                    <dd class="cnw-event-date-container">
                        {{ event.when_details | raw }}
                        <a href="#" class="cnw-event-date-info-toggle cnw_hidden">
                            <span>{{ 'event_detail_show_all_dates'| transTo(preferredLanguage) }}</span>
                            <span>{{ 'event_detail_show_less_dates'| transTo(preferredLanguage) }}</span>
                        </a>
                    </dd>
                    {% endif %}

                    {% if settings.age.enabled and event.age_range %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.age.label }}</em>
                        <i class="cnw-fa cnw-fa-male"></i>
                    </dt>
                    <dd>{{ event.age_range }}</dd>
                    {% endif %}

                    {% if settings.audience is defined and settings.audience.enabled and event.audience is defined and event.audience == "members" %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.audience.label }}</em>
                        <i class="cnw-fa cnw-fa-male"></i>
                    </dt>
                    <dd>{{ 'event_detail_member_specific'| transTo(preferredLanguage) }}</dd>
                    {% endif %}

                    {% if settings.language_icons.enabled and event.language_icons %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ 'event_detail_language_icons'| transTo(preferredLanguage) }}</em>
                            <i class="cnw-fa cnw-fa-language"></i>
                        </dt>
                        <dd>{{ event.language_icons | raw }}</dd>
                    {% endif %}

                    {% if settings.price_information and event.price %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ 'event_detail_price'| transTo(preferredLanguage) }}</em>
                            <i class="cnw-fa cnw-fa-eur"></i>
                        </dt>
                        <dd class="cnw_searchresult-detail-price-info">{{ event.price | raw}}</dd>
                    {% endif %}

                    {% if settings.reservation_information and event.booking_info %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ 'event_detail_reservations'| transTo(preferredLanguage) }}</em>
                            <i class="cnw-fa cnw-fa-ticket"></i>
                        </dt>
                        <dd>
                            <ul class="cnw_searchresult-detail-booking-info">
                            {% if (event.booking_info.phone is defined) %}
                                <li>{{ 'event_detail_phone'| transTo(preferredLanguage) }} <strong>{{ event.booking_info.phone }}</strong></li>
                            {% endif %}
                            {% if (event.booking_info.email is defined) %}
                                <li>{{ event.booking_info.email }}</li>
                            {% endif %}
                            {% if (event.booking_info.url is defined) %}
                                <li><a href="{{ event.booking_info.url.url }}" target="_blank" data-click-tracking-category="detail" data-click-tracking-action="ticket" data-click-tracking-label="{{ event.name }}">{{ event.booking_info.url.label }}</a> </li>
                            {% endif %}
                            </ul>
                        </dd>
                    {% endif %}

                </dl>

                <dl class="cnw_row cnw_searchresult-detail-info">
                    {% if settings.organizer.enabled and event.organizer %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ settings.organizer.label }}</em>
                            <i class="cnw-fa cnw-fa-building-o"></i>
                        </dt>
                        <dd>{{ event.organizer }}</dd>
                    {% endif %}
                    {% if settings.contact_information and event.contact_info and (event.contact_info.emails or event.contact_info.phone_numbers) %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_contact'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-phone"></i>
                    </dt>
                    <dd>
                        {% for email in event.contact_info.emails %}
                            <a href="mailto:{{ email }}">{{ email }}</a><br/>
                        {% endfor %}
                        {% for phone_number in event.contact_info.phone_numbers %}
                           {{ phone_number }}<br/>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.uitpas_benefits and event.uitpas_promotions %}

                        <dt>UiTPAS</dt>
                        <dd>
                            {{ event.uitpas_promotions | raw }}
                        </dd>

                    {% endif %}

                    {% if settings.contact_information and event.links %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_links'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-external-link"></i>
                    </dt>
                    <dd>
                        {% for link in event.links %}
                            <a href="{{ link }}" data-click-tracking-category="detail" data-click-tracking-action="contact" data-click-tracking-label="{{ link }}" target="_blank" class="cnw_searchresult-detail-link">{{ link }}</a><br/>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.language_switcher and event.language_switcher|length > 1 %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_languages'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-globe"></i>
                    </dt>
                    <dd>
                        {% for link in event.language_switcher %}
                            {{ link | raw }}
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.labels.enabled and event.labels %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_labels'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-tag"></i>
                    </dt>
                    <dd>
                        {%  for label in event.labels %}
                            <span class="cnw_searchresult-detail-tags-item">{{ label }}</span>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.facilities.enabled %}
                        <dt class="cnw_col-3">
                            <em class="cnw_searchresult-detail-label">{{ settings.facilities.label }}</em>
                            <i class="cnw-fa cnw-fa-wheelchair-alt"></i>
                        </dt>
                        <dd class="cnw_col-9">
                            {% include 'widgets/facility-summary.html.twig' with { 'event': event } %}
                        </dd>
                    {% endif %}



                    {% if settings.share_buttons and event.share_links %}
                        <dt>
                          <em class="cnw_searchresult-detail-label">{{ 'event_detail_share'| transTo(preferredLanguage) }}</em>
                          <i class="cnw-fa cnw-fa-share-alt"></i>
                        </dt>
                        <dd>
                            <a href="{{ event.share_links.facebook }}" data-click-tracking-category="detail" data-click-tracking-action="share facebook" class="cnw-share cnw-share-facebook" target="_blank"><i class="cnw-fa cnw-fa-facebook"></i> <span>Facebook</span></a>
                            <a href="{{ event.share_links.twitter }}" data-click-tracking-category="detail" data-click-tracking-action="share twitter" class="cnw-share cnw-share-twitter" target="_blank"><i class="cnw-fa cnw-fa-twitter"></i> <span>Twitter</span></a>
                        </dd>
                    {% endif %}


                </dl>

                {% if settings.articles.enabled and articles %}
                  {% include 'widgets/search-results-widget/articles.html.twig' with { 'articles': articles } %}
                {% endif %}

                {% if settings.back_button.enabled %}
                    <div class="cnw_searchresult-detail-back-button">
                        <a href="{{ event.back_link }}">&laquo; {{ settings.back_button.label }}</a>
                    </div>
                {% endif %}


            </section>


        </div>
    </div>

</div>
