{% set showIcons = (settings_general.labels_as_icons.enabled or preferredLanguage != 'nl') %}

<div class="cnw_row cnw_d-flex cnw_searchresult-detail {% if showIcons %} labels-as-icons {% endif %}" data-view-tracking-category="detail" data-view-tracking-extra-data="{{ tag_manager_data }}">

    {% if settings.image.enabled and event.image is defined %}
        <div class="cnw_col-4 {% if settings.image.position == 'right' %} cnw_flex-md-last{% endif %}">
            <img src="{{ event.image }}" alt="{{ event.name }}" class="cnw_img_responsive {{ settings.image.position }}">
            {% if event.copyright %}
            <p class="cnw_copyright">{{ '&copy;' }} {{event.copyright}}</p>
            {% endif %}
        </div>
    {% endif %}

    <div class="{% if settings.image.enabled %}cnw_col-8 {% else %} cnw_col-12{% endif %} cnw_flex-md-first">
        <div class="cnw_region cnw_region-content">

            <section class="cnw_block cnw_block-system cnw_clearfix">
                <h1 class="cnw_page-title">{{ event.name }}</h1>

            <span class="cnw_stickers ">
                {% if settings.icon_vlieg.enabled and event.vlieg %}
                    <span class="cnw_sticker cnw_sticker--vlieg">
                        <span class="cnw_txt">{{ event.vlieg }}</span>
                    </span>
                {% endif %}
                {% if settings.icon_museumpass.enabled and event.museumpas %}
                    <span class="cnw_sticker cnw_sticker--museumpas">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 118.4 75.3" xml:space="preserve"><style>.st0{fill:#191734}.st2{fill:#e61f63}</style><path class="st0" d="M29.2 26.3l-1-7.6-3.5 7.6h-1.1l-3.5-7.6-1 7.6h-3.7l2-13.2H21l3.1 7.2 3.1-7.2h3.6l2 13.2h-3.6zM72.1 21.3v-8.1h3.7v8c0 1.3.8 2.1 2 2.1s2-.8 2-2.1v-8h3.7v8.1c0 3.2-2.4 5.4-5.7 5.4-3.3 0-5.7-2.2-5.7-5.4zM99.3 26.3l-1-7.6-3.5 7.6h-1.1l-3.5-7.6-1 7.6h-3.7l2-13.2h3.6l3.1 7.2 3.1-7.2h3.6l2 13.2h-3.6zM29.2 62.1l-1-7.6-3.5 7.6h-1.1l-3.5-7.6-1 7.6h-3.7l2-13.2H21l3.1 7.2 3.1-7.2h3.6l2 13.2h-3.6zM34.8 57v-8h3.7v8c0 1.3.8 2.1 2 2.1s2-.8 2-2.1v-8h3.7v8c0 3.2-2.4 5.4-5.7 5.4-3.3.1-5.7-2.1-5.7-5.4zM82.7 57.9h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3h-3.6c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2-.1-5.3-1.8-5.3-4.6z"/><g><path class="st2" d="M34.8 21.3v-8.1h3.7v8c0 1.3.8 2.1 2 2.1s2-.8 2-2.1v-8h3.7v8.1c0 3.2-2.4 5.4-5.7 5.4-3.3 0-5.7-2.2-5.7-5.4zM48.4 22.1h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3H55c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2 0-5.3-1.7-5.3-4.6zM69.8 23.2v3.1h-8.6V13.2h8.4v3.1h-4.8v1.9h4.3v3h-4.3v2h5zM26.7 35.8c0 2.8-2.1 4.8-4.9 4.8h-2v3.6h-3.6V31.1h5.6c2.8 0 4.9 2 4.9 4.7zm-3.7 0c0-.9-.6-1.6-1.6-1.6h-1.5v3.2h1.5c.9 0 1.6-.6 1.6-1.6zM35.6 42.1H31l-.7 2.1h-3.9L31.6 31h3.5l5.3 13.2h-4l-.8-2.1zm-2.3-6.9l-1.4 4.1h2.9l-1.5-4.1zM40.8 40h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3h-3.6c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2 0-5.3-1.8-5.3-4.6zM53 40h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3h-3.6c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2 0-5.3-1.8-5.3-4.6zM48.4 57.9h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3H55c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2-.1-5.3-1.8-5.3-4.6zM69.8 59v3.1h-8.6V49h8.4v3.1h-4.8V54h4.3v3h-4.3v2h5zM80.9 59v3.1h-8.6V49h8.4v3.1h-4.8V54h4.3v3h-4.3v2h5zM63.4 47.4l-.6-1.8 4.9-2 .5 2.8z"/></g></svg>
                    </span>
                {% endif %}
                {% if settings.icon_uitpas.enabled and event.uitpas %}
                    <span class="cnw_sticker cnw_sticker--uitpas">

                        <svg width="58" height="37" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <path id="a" d="M.419.211H28V11H.419z"/>
                            </defs>
                            <g transform="matrix(.78 0 0 .78 .585 .195)" fill="none" fill-rule="evenodd">
                                <rect fill="#27856E" width="57" height="36" rx="2"/>
                                <path d="M12.023 19.25c0 .707-.075 1.279-.616 1.788-.486.454-1.076.613-1.672.665-.518.046-1.191-.034-1.63-.34-.599-.433-.716-1.075-.716-1.893v-4.511l1.765.146v4.088c0 .22-.011.516.102.713.133.204.396.276.618.267.197-.01.444-.085.591-.24.224-.221.203-.55.203-.845v-3.857l1.355.114v3.905M14.185 16.87l-1.627-.072V15.39l1.627.135v1.344Zm0 4.337-1.627.135v-4.08l1.627.05v3.895ZM17.436 20.965l-1.646.138v-4.134l-1.184-.052V15.56l3.992.333v1.197l-1.162-.051z" fill="#FFFFFE"/>
                                <path fill="#FFFFFE" d="M6 13.15h17.412v10.483H6l13.929-1.747v-6.989z"/>
                                <g opacity=".496" transform="translate(23 12.79)">
                                    <mask id="b" fill="#fff">
                                        <use xlink:href="#a"/>
                                    </mask>
                                    <path d="M23.326 11c-2.203 0-4.157-.917-4.725-3.194l2.982-.535c.276.932.98 1.269 1.912 1.269.412 0 1.237-.061 1.237-.642 0-.642-.81-.764-1.284-.856-1.974-.382-4.31-.917-4.31-3.408 0-1.024.504-2.032 1.343-2.629.858-.595 1.973-.794 3.014-.794 1.818 0 3.572.748 4.218 2.567l-2.66.81c-.306-.779-.888-1.054-1.699-1.054-.426 0-1.036.122-1.036.672s.764.657 1.158.749c.995.198 2.05.366 2.967.841C27.466 5.346 28 6.324 28 7.47 28 9.991 25.496 11 23.326 11m-4.922-.153H15.12l-.596-2.062h-2.798l-.642 2.062h-2.61L11.724.364h3.394l3.285 10.483M13.117 3.45l-.857 3.042h1.711l-.854-3.042m-9.444 7.397H.42V.364h4.276c1.026 0 2.17.03 3.074.55a3.185 3.185 0 0 1 1.557 2.751c0 .993-.38 1.94-1.162 2.567-.808.657-1.848.81-2.856.81H3.673v3.805m0-8.084v2.033h.84c.734 0 1.62-.046 1.62-1.024 0-.933-.796-1.009-1.528-1.009h-.932" fill="#FFFFFE" mask="url(#b)"/>
                                </g>
                            </g>
                        </svg>

                    </span>
                {% endif %}
            </span>

                <p class="cnw_card-description">
                {% if settings.type.enabled and event.typeId is defined %}
                    <span class="cnw_badge cnw_badge-default" >
                        <i class="cnw-fa cnw-fa-tags" aria-hidden="true"></i>
                        {{ event.typeId | transTo(preferredLanguage, 'eventtype') }}
                    </span>
                {% endif %}
                {% if settings.theme.enabled %}
                      {% for theme in event.themes %}
                          <span class="cnw_badge cnw_badge-default">
                              <i class="cnw-fa cnw-fa-tags" aria-hidden="true"></i>
                              {{ theme }}
                          </span>
                      {% endfor %}
                {% endif %}
                </p>

                <div class="cnw_detail-summary">

                    {% if event.summary %}

                      <div class="cnw_detail-short-summary">
                          {{ event.summary | raw }}
                      </div>

                      <a href="#" class="cnw_detail-summary-toggle" aria-expanded="false">{{ 'event_read_more'| transTo(preferredLanguage) }}</a>

                    {% endif %}

                      <div class="cnw_detail-full-description">
                          {{ event.description | raw }}
                      </div>

                </div>

                <p class="cnw_searchresult-detail-block-title">{{ 'event_detail_info'| transTo(preferredLanguage) }}</p>


                <dl class="cnw_row cnw_searchresult-detail-info">
                    {% if settings.where.enabled and event.where %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.where.label }}</em>
                        <i class="cnw-fa cnw-fa-map-marker"></i>
                    </dt>
                    <dd>
                        {{ event.where.name }}
                        {% if event.where.address %}
                        <br/>
                        {{ event.where.address.street }}<br/>
                        {{ event.where.address.postalcode }} {{ event.where.address.city }}
                        {% if settings.map %}
                            <br/>
                            <a href="{{ event.directions_link }} " target="_blank">{{ 'event_directions'| transTo(preferredLanguage) }}</a>
                        {% endif %}
                        {% endif %}
                    </dd>
                    {% endif %}

                    {% if settings.when.enabled and event.when_details %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.when.label }}</em>
                        <i class="cnw-fa cnw-fa-calendar"></i>
                    </dt>
                    <dd class="cnw-event-date-container">
                        {{ event.when_details | raw }}
                        <a href="#" class="cnw-event-date-info-toggle cnw_hidden" aria-expanded="false">
                            <span>{{ 'event_detail_show_all_dates'| transTo(preferredLanguage) }}</span>
                            <span>{{ 'event_detail_show_less_dates'| transTo(preferredLanguage) }}</span>
                        </a>
                    </dd>
                    {% endif %}

                    {% if settings.age.enabled and event.age_range %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.age.label }}</em>
                        <i class="cnw-fa cnw-fa-male"></i>
                    </dt>
                    <dd>{{ event.age_range }}</dd>
                    {% endif %}

                    {% if settings.audience is defined and settings.audience.enabled and event.audience is defined and event.audience == "members" %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ settings.audience.label }}</em>
                        <i class="cnw-fa cnw-fa-male"></i>
                    </dt>
                    <dd>{{ 'event_detail_member_specific'| transTo(preferredLanguage) }}</dd>
                    {% endif %}

                    {% if settings.language_icons.enabled and event.language_icons %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ 'event_detail_language_icons'| transTo(preferredLanguage) }}</em>
                            <i class="cnw-fa cnw-fa-language"></i>
                        </dt>
                        <dd>{{ event.language_icons | raw }}</dd>
                    {% endif %}

                    {% if settings.price_information and event.price %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ 'event_detail_price'| transTo(preferredLanguage) }}</em>
                            <i class="cnw-fa cnw-fa-eur"></i>
                        </dt>
                        <dd class="cnw_searchresult-detail-price-info">{{ event.price | raw}}</dd>
                    {% endif %}

                    {% if settings.reservation_information and event.booking_info %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ 'event_detail_reservations'| transTo(preferredLanguage) }}</em>
                            <i class="cnw-fa cnw-fa-ticket"></i>
                        </dt>
                        <dd>
                            <ul class="cnw_searchresult-detail-booking-info">
                            {% if (event.booking_info.phone is defined) %}
                                <li>{{ 'event_detail_phone'| transTo(preferredLanguage) }} <strong>{{ event.booking_info.phone }}</strong></li>
                            {% endif %}
                            {% if (event.booking_info.email is defined) %}
                                <li>{{ event.booking_info.email }}</li>
                            {% endif %}
                            {% if (event.booking_info.url is defined) %}
                                <li><a href="{{ event.booking_info.url.url }}" target="_blank" data-click-tracking-category="detail" data-click-tracking-action="ticket" data-click-tracking-label="{{ event.name }}">{{ event.booking_info.url.label }}</a> </li>
                            {% endif %}
                            </ul>
                        </dd>
                    {% endif %}

                </dl>

                <dl class="cnw_row cnw_searchresult-detail-info">
                    {% if settings.organizer.enabled and event.organizer %}
                        <dt>
                            <em class="cnw_searchresult-detail-label">{{ settings.organizer.label }}</em>
                            <i class="cnw-fa cnw-fa-building-o"></i>
                        </dt>
                        <dd>{{ event.organizer }}</dd>
                    {% endif %}
                    {% if settings.contact_information and event.contact_info and (event.contact_info.emails or event.contact_info.phone_numbers) %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_contact'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-phone"></i>
                    </dt>
                    <dd>
                        {% for email in event.contact_info.emails %}
                            <a href="mailto:{{ email }}">{{ email }}</a><br/>
                        {% endfor %}
                        {% for phone_number in event.contact_info.phone_numbers %}
                           {{ phone_number }}<br/>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.uitpas_benefits and event.uitpas_promotions %}

                        <dt>UiTPAS</dt>
                        <dd>
                            {{ event.uitpas_promotions | raw }}
                        </dd>

                    {% endif %}

                    {% if settings.contact_information and event.links %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_links'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-external-link"></i>
                    </dt>
                    <dd>
                        {% for link in event.links %}
                            <a href="{{ link }}" data-click-tracking-category="detail" data-click-tracking-action="contact" data-click-tracking-label="{{ link }}" target="_blank" class="cnw_searchresult-detail-link">{{ link }}</a><br/>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.language_switcher and event.language_switcher|length > 1 %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_languages'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-globe"></i>
                    </dt>
                    <dd>
                        {% for link in event.language_switcher %}
                            {{ link | raw }}
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.labels.enabled and event.labels %}
                    <dt>
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_labels'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-tag"></i>
                    </dt>
                    <dd>
                        {%  for label in event.labels %}
                            <span class="cnw_searchresult-detail-tags-item">{{ label }}</span>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.facilities.enabled %}
                        <dt class="cnw_col-3">
                            <em class="cnw_searchresult-detail-label">{{ settings.facilities.label }}</em>
                            <i class="cnw-fa cnw-fa-wheelchair-alt"></i>
                        </dt>
                        <dd class="cnw_col-9">
                            {% include 'widgets/facility-summary.html.twig' with { 'event': event } %}
                        </dd>
                    {% endif %}



                    {% if settings.share_buttons and event.share_links %}
                        <dt>
                          <em class="cnw_searchresult-detail-label">{{ 'event_detail_share'| transTo(preferredLanguage) }}</em>
                          <i class="cnw-fa cnw-fa-share-alt"></i>
                        </dt>
                        <dd>
                            <a href="{{ event.share_links.facebook }}" data-click-tracking-category="detail" data-click-tracking-action="share facebook" class="cnw-share cnw-share-facebook" target="_blank"><i class="cnw-fa cnw-fa-facebook"></i> <span>Facebook</span></a>
                            <a href="{{ event.share_links.twitter }}" data-click-tracking-category="detail" data-click-tracking-action="share twitter" class="cnw-share cnw-share-twitter" target="_blank"><i class="cnw-fa cnw-fa-twitter"></i> <span>Twitter</span></a>
                        </dd>
                    {% endif %}


                </dl>

                {% if settings.videos.enabled and event.videos|length > 0 %}
                    {% if 'youtube' in event.videos[0].embedUrl %}
                    <div class="cnw_searchresult-detail-video-wrapper">
                        <iframe src="{{ event.videos[0].embedUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% endif %}
                    {% if 'vimeo' in event.videos[0].embedUrl %}
                    <div class="cnw_searchresult-detail-video-wrapper">
                        <iframe src="{{ event.videos[0].embedUrl }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% endif %}
                {% endif %}

                {% if settings.articles.enabled and articles %}
                  {% include 'widgets/search-results-widget/articles.html.twig' with { 'articles': articles } %}
                {% endif %}

                {% if settings.back_button.enabled %}
                    <div class="cnw_searchresult-detail-back-button">
                        <a href="{{ event.back_link }}">&laquo; {{ settings.back_button.label }}</a>
                    </div>
                {% endif %}


            </section>


        </div>
    </div>

</div>
