<div class="cnw_row cnw_d-flex ">

    {% if settings.image.enabled %}
        <div class="cnw_col-4 {% if settings.image.position == 'right' %} cnw_flex-last {% endif %}">
            <img src="{{ event.image }}" class="cnw_img_responsive {{ settings.image.position }}">
        </div>
    {% endif %}

    <div class="{% if settings.image.enabled %}cnw_col-8 {% else %} cnw_col-12{% endif %} cnw_flex-md-first">
        <div class="cnw_region cnw_region-content">


            <section class="cnw_block cnw_block-system cnw_clearfix">
                <h1 class="cnw_page-title">{{ event.name }}</h1>

                <div class="cnw_detail-summary">
                    <p>
                        {{ event.description }}
                    </p>
                </div>

                {% if settings.icon_vlieg.enabled and event.vlieg %}
                    <span class="cnw_sticker cnw_sticker--vlieg">
                        <span class="cnw_txt">{{ event.vlieg }}</span>
                    </span>
                {% endif %}

                <p class="cnw_block-title">Info</p>


                <dl class="cnw_row">
                    {% if settings.where.enabled and event.where %}
                    <dt class="cnw_col-3">{{ settings.where.label }}</dt>
                    <dd class="cnw_col-9">
                        {{ event.where.name }}
                        {% if event.where.address %}
                        <br/>
                        {{ event.where.address.street }}<br/>
                        {{ event.where.address.postalcode }} {{ event.where.address.city }}
                        {% if settings.map %}
                            <br/>
                            <a href="{{ event.directions_link }} "target="_blank">Hoe geraak ik hier?</a>
                        {% endif %}
                        {% endif %}
                    </dd>
                    {% endif %}

                    {% if settings.when.enabled %}
                    <dt class="cnw_col-3">{{ settings.when.label }}</dt>
                    <dd class="cnw_col-9">{{ event.when_details | raw }}</dd>
                    {% endif %}

                    {% if settings.age.enabled and event.age_range %}
                    <dt class="cnw_col-3">{{ settings.age.label }}</dt>
                    <dd class="cnw_col-9">{{ event.age_range }}</dd>
                    {% endif %}

                    {% if settings.language_icons.enabled and event.language_icons %}
                        <dt class="cnw_col-3">Taaliconen</dt>
                        <dd class="cnw_col-9">{{ event.language_icons | raw }}
                        </dd>
                    {% endif %}

                    {% if settings.price_information and event.price %}
                        <dt class="cnw_col-3">Prijs</dt>
                        <dd class="cnw_col-9">{{ event.price | raw}}</dd>
                    {% endif %}

                    {% if settings.reservation_information and event.booking_info %}
                        <dt class="cnw_col-3">Reservaties</dt>
                        <dd class="cnw_col-9">
                            {% if (event.booking_info.phone is defined) %}
                                <li>Bel naar <strong>{{ event.booking_info.phone }}</strong></li>
                            {% endif %}
                            {% if (event.booking_info.mail is defined) %}
                                <li>{{ event.booking_info.phone }}</li>
                            {% endif %}
                            {% if (event.booking_info.url is defined) %}
                                <li><a href="{{ event.booking_info.url.url }}" target="_blank">{{ event.booking_info.url.label }}</a> </li>
                            {% endif %}
                        </dd>
                    {% endif %}

                </dl>

                <dl class="cnw_row">
                    {% if settings.organizer.enabled and event.organizer %}
                        <dt class="cnw_col-3">Organisatie</dt>
                        <dd class="cnw_col-9">{{ event.organizer }}</dd>
                    {% endif %}
                    {% if settings.contact_information and event.contact_info and (event.contact_info.emails or event.contact_info.phone_numbers) %}
                    <dt class="cnw_col-3">Contact</dt>
                    <dd class="cnw_col-9">
                        {% for email in event.contact_info.emails %}
                            <a href="mailto:{{ email }}">{{ email }}</a><br/>
                        {% endfor %}
                        {% for phone_number in event.contact_info.phone_numbers %}
                           {{ phone_number }}<br/>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.contact_information and event.links %}
                    <dt class="cnw_col-3">Links</dt>
                    <dd class="cnw_col-9">
                        {% for link in event.links %}
                            <a href="{{ link }}">{{ link }}</a><br/>
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if settings.language_switcher and event.language_switcher|length > 1 %}
                    <dt class="cnw_col-3">Talen</dt>
                    <dd class="cnw_col-9">
                        {% for link in event.language_switcher %}
                            {{ link | raw }}
                        {% endfor %}
                    </dd>
                    {% endif %}

                    {% if event.labels %}
                    <dt class="cnw_col-3">Labels</dt>
                    <dd class="cnw_col-9">
                        {%  for label in event.labels %}
                            <span class="cnw_link__card-tags-item">{{ label }}</span>
                        {% endfor %}
                    </dd>
                    {% endif %}
                </dl>


            </section>


        </div>
    </div>

</div>