<div class="cnw_w">
    <div class="cnw_container-fluid">

        <div class="cnw_row">
            <!--  facetedSearch  START -->
            <div class="cnw_searchresult__facetedSearch">
                <!--  je zocht op  START -->
                <div class="cnw_searchresult__selectedSearchFilters cnw_container-fluid">
                    <p>Je zocht op :
                        <button type="button" class="cnw_close cnw_btn--zoekresult" aria-label="Close">
                            Zoekresult1
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <button type="button" class="cnw_close cnw_btn--zoekresult" aria-label="Close">
                            Zoekresult2
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                </div>


                <!-- ZoekOpties  START -->
                <form>
                    <div class="cnw_searchresult__options cnw_container-fluid">
                        <div class="cnw_row">
                            <div class="cnw_col">
                                <div class="cnw_form-check ">
                                    <label class="cnw_form-check-label">
                                        <input type="checkbox" class="cnw_form-check-input">
                                        Verberg langlopende reeksen
                                    </label>
                                </div>
                            </div>
                            <div class="cnw_col">
                                <div class="cnw_form-check ">
                                    <label class="cnw_form-check-label">
                                        <input type="checkbox" class="cnw_form-check-input">
                                        Verberg permanente bezienswaardigheden
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- ZoekOpties  END -->

                <!--  facetedSearch  END -->

                <!--  searchWords  START -->
                <div class="cnw_searchresult__searchwords">
                    <p>Je zocht op <span class="cnw_searchresult__searchword">Zoekwoord</span></p>
                </div>
                <!--  searchWords END -->


                <!--  counter  START -->
                <div class="cnw_searchresult__counter">
                    <p><span class="cnw_searchresult__counter-total">{{ result_count }}</span> resultaten gevonden</p>
                </div>
                <!--  counter END -->

                {% for event in events %}
                    <!--  results - CARD  START -->
                    <div class="cnw_searchresult--block cnw_row ">

                        <div class="cnw_col-4">
                            {% if settings.image.enabled %}
                                <div class="cnw_col-12">
                                    <img src="{{ event.image }}" class="cnw_img_responsive {{ settings.image.position }}">
                                </div>
                            {% endif %}
                        </div>

                        <div class="cnw_col-8">
                            <div class="card-block ">
                                <h3 class="cnw_card-title">{{ event.name }}</h3>
                                <span class="cnw_stickers ">
                                {% if settings.icon_vlieg.enabled %}
                                    <span class="cnw_sticker cnw_sticker--vlieg">
                                        <span class="cnw_txt">7+</span>
                                    </span>
                                {% endif %}
                            </span>
                                {% if settings.description.enabled %}
                                    <p class="cnw_card-description">{{ event.description }}</p>
                                {% endif %}
                                <dl class="cnw_row">
                                    {% if settings.where.enabled %}
                                        <dt class="cnw_col-3">{{ settings.where.label }}</dt>
                                        <dd class="cnw_col-9">{{ event.where }}</dd>
                                    {% endif %}

                                    {% if event.organizer %}
                                        <dt class="cnw_col-3">Organisatie</dt>
                                        <dd class="cnw_col-9">{{ event.organizer }}</dd>
                                    {% endif %}

                                    {% if settings.when.enabled %}
                                        <dt class="cnw_col-3">{{ settings.when.label }}</dt>
                                        <dd class="cnw_col-9">{{ event.when_start }}</dd>
                                    {% endif %}

                                    {% if settings.age.enabled and event.age_range %}
                                        <dt class="cnw_col-3">{{ settings.age.label }}</dt>
                                        <dd class="cnw_col-9">{{ event.age_range }}</dd>
                                    {% endif %}

                                    <dt class="cnw_col-3">Taal</dt>
                                    <dd class="cnw_col-9">Nl - Fr - De</dd>

                                    {% if event.themes %}
                                        <dt class="cnw_col-3">Thema</dt>
                                        <dd class="cnw_col-9">
                                            {% for theme in event.themes %}
                                                <a href="" class="cnw_link__card-thema">{{ theme.getLabel }}</a>
                                            {% endfor %}
                                        </dd>
                                    {% endif %}
                                </dl>
                                {% if settings.read_more.enabled %}
                                    <a href="#" class="cnw_btn cnw_btn__card-readmore">{{ settings.read_more.label }}</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--  results - CARD  END -->
                {% endfor %}

                <!--  PAGINATION Start -->
                <nav aria-label="Page navigation example">
                    <ul class="cnw_pagination cnw_justify-content-center">
                        <li class="cnw_page-item ">
                            <a class="cnw_page-link" href="#" tabindex="-1">Eerste</a>
                        </li>
                        <li class="cnw_page-item">
                            <a class="cnw_page-link" href="#" tabindex="-1">Vorige</a>
                        </li>
                        <li class="cnw_page-item"><a class="cnw_page-link" href="#">1</a></li>
                        <li class="cnw_page-item cnw_disabled"><a class="cnw_page-link" href="#">2</a></li>
                        <li class="cnw_page-item"><a class="cnw_page-link" href="#">3</a></li>
                        <li class="cnw_page-item">
                            <a class="cnw_page-link" href="#">Volgende</a>
                        </li>
                        <li class="cnw_page-item">
                            <a class="cnw_page-link" href="#">Laatste</a>
                        </li>
                    </ul>
                </nav>
                <!--  PAGINATION END-->

            </div>
        </div>
    </div>
</div>
