<div class="cnw_searchresult" data-view-tracking-category="list" data-view-tracking-page-suffix="/searchresultwidget/list" data-view-tracking-extra-data="{{ tag_manager_data }}">

    {% if settings_header.body %}
        <div class="cnw_searchresult_header">
            {{ settings_header.body | raw }}
        </div>
    {% endif %}

    <!--  Results  START -->
    <div class="cnw_searchresult__results">

        {%  if settings_general.current_search and active_filters|length > 0 %}
            <!--  searchWords  START -->
            <div class="cnw_searchresult__searchwords">
                <p>{{ 'search_results_searched_label'| transTo(preferredLanguage) }} 
                    {% for active_filter in active_filters %}
                        <span class="cnw_badge cnw_badge-default"> {{ active_filter.label }} <a href="#" data-active-keywords-name="{{ active_filter.name }}" data-active-keywords-default-option="{{ active_filter.is_default }}">x</a> </span>
                    {% endfor %}
                    <a href="#" data-active-keywords-name="all">{{ 'search_resutls_remove_all_filters'| transTo(preferredLanguage) }}</a>
                </p>
            </div>
            <!--  searchWords END -->
        {% endif %}

        <!-- Extra options  START -->
        {%  if settings_general.exclude.long_term or settings_general.exclude.permanent %}
            <form>
                <div class="cnw_searchresult__options">
                        {%  if settings_general.exclude.long_term %}
                            <div class="cnw_form-check cnw_form-check-long-events">
                                <label class="cnw_form-check-label">
                                    <input type="checkbox" class="cnw_form-check-input" name="{{ 'search-result[' ~ id ~ '][hide-long-term]' }}"{% if extra_filters['hide-long-term'] is defined %} checked {% endif %}>
                                    {{ 'search_results_exclude_long_term'| transTo(preferredLanguage) }}
                                </label>
                            </div>
                        {% endif %}

                        {%  if settings_general.exclude.permanent %}
                            <div class="cnw_form-check cnw_form-check-permanent-events">
                                <label class="cnw_form-check-label">
                                    <input type="checkbox" class="cnw_form-check-input" name="{{ 'search-result[' ~ id ~ '][hide-permanent]' }}"{% if extra_filters['hide-permanent'] is defined %} checked {% endif %}>
                                    {{ 'search_results_exclude_permanent'| transTo(preferredLanguage) }}
                                </label>
                            </div>
                        {% endif %}
                </div>
            </form>
            <!-- ZoekOpties  END -->
        {% endif %}


        <!--  counter  START -->
        <div class="cnw_searchresult__counter">
            <h1 class="cnw_searchresult__counter-text"><span class="cnw_searchresult__counter-total">{{ result_count }}</span> {{ 'search_results_previous'| transTo(preferredLanguage) }}</h1>
        </div>
        <!--  counter END -->
        {% if settings_general.view == 'grid' %}
          {% include 'widgets/event-summary-grid.html.twig' %}
        {% else %}
          {% for event in events %}
              {% include 'widgets/event-summary.html.twig' with { 'event': event, 'settings': settings_items, 'click_tracking_action' : 'list' } %}
          {% endfor %}
        {% endif %}

        <!--  PAGINATION Start -->
        {% include 'widgets/widget-pager.html.twig' with {'pager': pager, 'id': id} %}
        <!--  PAGINATION END-->

    </div>

    {% if settings_footer.body %}
        <div class="cnw_searchresult_footer">
            {{ settings_footer.body | raw }}
        </div>
    {% endif %}

</div>
