<div class="cnw_uitpas-promotions">

    <p class="cnw_uitpas-promotions-block-title">Voordelen bij {{ organizer }}</p>

    <ul>
    {% for promotion in promotions %}
        <li>{{ promotion.title }}</li>
    {% endfor %}
    </ul>

    <p class="cnw_uitpas-promotions-more-info">Meer info over de omruilvoordelen bij {{ organizer }} vind je op <a href="https://www.uitpas.be/locaties/{{organizerUrlName}}/{{organizerId}}">UiTPAS.be</a><p>

</div>
