<div class="cnw_uitpas-promotions">

    <p class="cnw_uitpas-promotions-block-title">Voordelen bij &nbsp;{{ organizerName }}</p>

    <ul>
    {% for promotion in promotions %}
        <li><span class="cnw_uitpas-promotions-points-badge">{{ promotion.points }} &nbsp; {{ promotion.points == 1 ? 'punt' : 'punten' }}</span> <a href="{{ promotion.benefitURL }}" target="_blank">{{ promotion.title }}</a></li>
    {% endfor %}
    </ul>

    <p class="cnw_uitpas-promotions-more-info">Meer info over de omruilvoordelen bij {{ organizerName }} vind je op <a href="https://www.uitpas.be/locaties/{{organizerUrlName}}/{{organizerId}}" data-click-tracking-category="detail" data-click-tracking-action="uitpas prices more info">UiTPAS.be</a><p>

</div>
