<!--  results - CARD  START -->
{% set showIcons = (settings_general.labels_as_icons.enabled or preferredLanguage != 'nl') %}

<div class="cnw_searchresult--block {% if showIcons %} labels-as-icons {% endif %} cnw_row ">
    {% if settings_items.image.enabled %}
    <div class="cnw_col-3 {% if settings_items.image.position == 'right' %} cnw_flex-last {% endif %}">
        {% if event.image is defined %}
        {% if settings_general.detail_link.enabled is not defined or settings_general.detail_link.enabled %}
        <a href="{{ event.detail_link }}" data-click-tracking-category="detail" data-click-tracking-action="{{ click_tracking_action }}" data-click-tracking-label="image">
            <img src="{{ event.image }}" alt="{{ event.name }}" class="cnw_img_responsive {{ settings_items.image.position }}">
        </a>
        {% else %}
            <img src="{{ event.image }}" alt="{{ event.name }}" class="cnw_img_responsive {{ settings_items.image.position }}">
        {% endif %}
        {% endif %}

    </div>
    {% endif %}

    <div class="{% if settings_items.image.enabled %}cnw_col-9 {% else %} cnw_col-12{% endif %}">
        <div class="cnw_card-block ">
            <h2 class="cnw_card-title">
                {% if settings_general.detail_link.enabled is not defined or settings_general.detail_link.enabled %}
                <a href="{{ event.detail_link }}" data-click-tracking-category="detail" data-click-tracking-action="{{ click_tracking_action }}" data-click-tracking-label="title">{{ event.name }}</a>
                {% else %}
                {{ event.name }}
                {% endif %}
                {% if settings_items.editorial_label is defined and settings_items.editorial_label.enabled and event.editorial_label %}
                  <span class="cnw_badge cnw_badge-default cnw_badge-editorial">
                    <i class="cnw-fa cnw-fa-heart"></i>{{ event.editorial_label }}
                  </span>
                {% endif %}
            </h2>
            <span class="cnw_stickers ">
                {% if settings_items.icon_vlieg.enabled and event.vlieg %}
                    <span class="cnw_sticker cnw_sticker--vlieg">
                        <span class="cnw_txt">{{ event.vlieg }}</span>
                    </span>
                {% endif %}
                {% if settings_items.icon_museumpass.enabled and event.museumpas %}
                    <span class="cnw_sticker cnw_sticker--museumpas">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 118.4 75.3" xml:space="preserve"><style>.st0{fill:#191734}.st2{fill:#e61f63}</style><path class="st0" d="M29.2 26.3l-1-7.6-3.5 7.6h-1.1l-3.5-7.6-1 7.6h-3.7l2-13.2H21l3.1 7.2 3.1-7.2h3.6l2 13.2h-3.6zM72.1 21.3v-8.1h3.7v8c0 1.3.8 2.1 2 2.1s2-.8 2-2.1v-8h3.7v8.1c0 3.2-2.4 5.4-5.7 5.4-3.3 0-5.7-2.2-5.7-5.4zM99.3 26.3l-1-7.6-3.5 7.6h-1.1l-3.5-7.6-1 7.6h-3.7l2-13.2h3.6l3.1 7.2 3.1-7.2h3.6l2 13.2h-3.6zM29.2 62.1l-1-7.6-3.5 7.6h-1.1l-3.5-7.6-1 7.6h-3.7l2-13.2H21l3.1 7.2 3.1-7.2h3.6l2 13.2h-3.6zM34.8 57v-8h3.7v8c0 1.3.8 2.1 2 2.1s2-.8 2-2.1v-8h3.7v8c0 3.2-2.4 5.4-5.7 5.4-3.3.1-5.7-2.1-5.7-5.4zM82.7 57.9h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3h-3.6c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2-.1-5.3-1.8-5.3-4.6z"/><g><path class="st2" d="M34.8 21.3v-8.1h3.7v8c0 1.3.8 2.1 2 2.1s2-.8 2-2.1v-8h3.7v8.1c0 3.2-2.4 5.4-5.7 5.4-3.3 0-5.7-2.2-5.7-5.4zM48.4 22.1h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3H55c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2 0-5.3-1.7-5.3-4.6zM69.8 23.2v3.1h-8.6V13.2h8.4v3.1h-4.8v1.9h4.3v3h-4.3v2h5zM26.7 35.8c0 2.8-2.1 4.8-4.9 4.8h-2v3.6h-3.6V31.1h5.6c2.8 0 4.9 2 4.9 4.7zm-3.7 0c0-.9-.6-1.6-1.6-1.6h-1.5v3.2h1.5c.9 0 1.6-.6 1.6-1.6zM35.6 42.1H31l-.7 2.1h-3.9L31.6 31h3.5l5.3 13.2h-4l-.8-2.1zm-2.3-6.9l-1.4 4.1h2.9l-1.5-4.1zM40.8 40h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3h-3.6c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2 0-5.3-1.8-5.3-4.6zM53 40h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3h-3.6c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2 0-5.3-1.8-5.3-4.6zM48.4 57.9h3.7c0 .9.7 1.4 1.6 1.4.8 0 1.5-.4 1.5-1.1 0-.8-1-1.1-2.3-1.4-1.9-.5-4.3-1.1-4.3-4.1 0-2.6 1.9-4.1 5-4.1 3.2 0 5 1.6 5 4.3H55c0-.8-.6-1.2-1.4-1.2-.6 0-1.3.3-1.3.9 0 .7 1 1 2.2 1.3 1.9.5 4.5 1.1 4.5 4.2 0 2.9-2.2 4.4-5.3 4.4-3.2-.1-5.3-1.8-5.3-4.6zM69.8 59v3.1h-8.6V49h8.4v3.1h-4.8V54h4.3v3h-4.3v2h5zM80.9 59v3.1h-8.6V49h8.4v3.1h-4.8V54h4.3v3h-4.3v2h5zM63.4 47.4l-.6-1.8 4.9-2 .5 2.8z"/></g></svg>
                    </span>
                {% endif %}
                {% if settings_items.icon_uitpas.enabled and event.uitpas %}
                    <span class="cnw_sticker cnw_sticker--uitpas">

                        <svg width="58px" height="37px" viewBox="0 0 58 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <polygon id="path-1" points="0.4192 0.211 28 0.211 28 11 0.4192 11"></polygon>
                        </defs>
                        <g transform="scale(0.78)">
                            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="DESKTOP-RESULTS" transform="translate(-788.000000, -1269.000000)">
                                    <g id="AE-UiTPAS" transform="translate(768.000000, 1248.000000)">
                                        <g id="kaart" transform="translate(20.750000, 21.250001)">
                                            <rect id="Rectangle" fill="#27856E" x="0" y="0" width="57" height="36" rx="2"></rect>
                                            <g id="UiTPAS-logo" transform="translate(6.000000, 12.000000)">
                                                <path d="M6.0225,7.2495 C6.0225,7.9575 5.9475,8.5285 5.4065,9.0375 C4.9215,9.4925 4.3305,9.6515 3.7345,9.7025 C3.2175,9.7485 2.5435,9.6695 2.1055,9.3625 C1.5065,8.9295 1.3885,8.2885 1.3885,7.4695 L1.3885,2.9585 L3.1535,3.1055 L3.1535,7.1935 C3.1535,7.4135 3.1425,7.7095 3.2565,7.9065 C3.3895,8.1095 3.6525,8.1825 3.8745,8.1725 C4.0715,8.1635 4.3185,8.0875 4.4655,7.9325 C4.6885,7.7115 4.6675,7.3825 4.6675,7.0885 L4.6675,3.2315 L6.0225,3.3455 L6.0225,7.2495" id="Fill-1" fill="#FFFFFE"></path>
                                                <path d="M8.1855,4.8697 L6.5575,4.7977 L6.5575,3.3907 L8.1855,3.5257 L8.1855,4.8697 Z M8.1855,9.2067 L6.5575,9.3417 L6.5575,5.2617 L8.1855,5.3127 L8.1855,9.2067 Z" id="Fill-3" fill="#FFFFFE"></path>
                                                <polygon id="Fill-5" fill="#FFFFFE" points="11.4355 8.9654 9.7895 9.1034 9.7895 4.9694 8.6055 4.9174 8.6055 3.5604 12.5975 3.8934 12.5975 5.0904 11.4355 5.0394"></polygon>
                                                <polygon id="Fill-7" fill="#FFFFFE" points="0 1.1504 17.412 1.1504 17.412 11.6334 0 11.6334 13.929 9.8864 13.929 2.8974"></polygon>
                                                <g id="Group-11" opacity="0.496299" transform="translate(17.000000, 0.789100)">
                                                    <mask id="mask-2" fill="white">
                                                        <use xlink:href="#path-1"></use>
                                                    </mask>
                                                    <g id="Clip-10"></g>
                                                    <path d="M23.3262,11 C21.1232,11 19.1692,10.083 18.6012,7.806 L21.5832,7.271 C21.8592,8.203 22.5622,8.54 23.4952,8.54 C23.9072,8.54 24.7322,8.479 24.7322,7.898 C24.7322,7.256 23.9222,7.134 23.4482,7.042 C21.4742,6.66 19.1372,6.125 19.1372,3.634 C19.1372,2.61 19.6422,1.602 20.4812,1.005 C21.3392,0.41 22.4542,0.211 23.4952,0.211 C25.3132,0.211 27.0672,0.959 27.7132,2.778 L25.0522,3.588 C24.7472,2.809 24.1652,2.534 23.3542,2.534 C22.9282,2.534 22.3182,2.656 22.3182,3.206 C22.3182,3.756 23.0822,3.863 23.4762,3.955 C24.4712,4.153 25.5252,4.321 26.4432,4.796 C27.4662,5.346 28.0002,6.324 28.0002,7.47 C28.0002,9.991 25.4962,11 23.3262,11 M18.4042,10.847 L15.1192,10.847 L14.5232,8.785 L11.7252,8.785 L11.0832,10.847 L8.4722,10.847 L11.7252,0.364 L15.1192,0.364 L18.4042,10.847 M13.1172,3.45 L12.2602,6.492 L13.9712,6.492 L13.1172,3.45 M3.6732,10.847 L0.4192,10.847 L0.4192,0.364 L4.6952,0.364 C5.7212,0.364 6.8652,0.394 7.7692,0.914 C8.7442,1.495 9.3262,2.534 9.3262,3.665 C9.3262,4.658 8.9452,5.605 8.1642,6.232 C7.3562,6.889 6.3162,7.042 5.3082,7.042 L3.6732,7.042 L3.6732,10.847 M3.6732,2.763 L3.6732,4.796 L4.5122,4.796 C5.2472,4.796 6.1332,4.75 6.1332,3.772 C6.1332,2.839 5.3372,2.763 4.6052,2.763 L3.6732,2.763" id="Fill-9" fill="#FFFFFE" mask="url(#mask-2)"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                    </span>
                {% endif %}
            </span>

            <p class="cnw_card-description">
            {% if settings_items.type.enabled and event.type.0 is defined %}
                <span class="cnw_badge cnw_badge-default" >
                    <i class="cnw-fa cnw-fa-tags" aria-hidden="true"></i>
                    {{ event.typeId | transTo(preferredLanguage, 'eventtype') }}
                </span>
            {% endif %}
            {% if settings_items.theme.enabled %}
                  {% for theme in event.themes %}
                      <span class="cnw_badge cnw_badge-default">
                          <i class="cnw-fa cnw-fa-tags" aria-hidden="true"></i>
                          {{ theme }}
                      </span>
                  {% endfor %}
            {% endif %}
            </p>

            {% if settings_items.description.enabled %}
                <p class="cnw_card-description">
                   {{ event.summary | replace({'&nbsp;': ' '}) }}
                </p>
            {% endif %}

            <div class="list">

                {% if settings_items.where.enabled and event.where %}
                    <div class="list-item">
                    {% if settings_items.where.label is not empty %}
                        <div class="list-item-aside">
                            <em class="cnw_searchresult-detail-label">{{ settings_items.where.label }}</em>
                            <i class="cnw-fa cnw-fa-map-marker"></i>
                        </div>
                        <div class="list-item-content">
                            {{ event.where.name }}{% if event.where.address %}, {{ event.where.address.postalcode }} {{ event.where.address.city }}{% endif %}
                        </div>
                     {% else %}
                        <div class="list-item-content">
                            {{ event.where.name }}{% if event.where.address %}, {{ event.where.address.postalcode }} {{ event.where.address.city }}{% endif %}
                        </div>
                     {% endif %}
                     </div>
                {% endif %}

                {% if settings_items.organizer.enabled and event.organizer %}
                    <div class="list-item">
                    {% if settings_items.organizer.label is not empty %}
                        <div class="list-item-aside">
                            <em class="cnw_searchresult-detail-label">{{ settings_items.organizer.label }}</em>
                            <i class="cnw-fa cnw-fa-building-o"></i>
                        </div>
                        <div class="list-item-content">{{ event.organizer }}</div>
                    {% else %}
                        <div class="list-item-content">{{ event.organizer }}</div>
                    {% endif %}
                    </div>
                {% endif %}

                {% if settings_items.when.enabled and event.when_summary %}
                    <div class="list-item">
                    {% if settings_items.when.label is not empty %}
                        <div class="list-item-aside">
                            <em class="cnw_searchresult-detail-label">{{ settings_items.when.label }}</em>
                            <i class="cnw-fa cnw-fa-calendar"></i>
                        </div>
                        <div class="list-item-content">
                        {{ event.when_summary }}
                        {% if event.expired %}
                          <p><i>{{ 'event_expired'| transTo(preferredLanguage) }}</i></p>
                        {% endif %}
                        </div>
                    {% else %}
                        <div class="list-item-content">
                        {{ event.when_summary }}
                        {% if event.expired %}
                          <p><i>{{ 'event_expired'| transTo(preferredLanguage) }}</i></p>
                        {% endif %}
                        </div>
                    {% endif %}
                    </div>
                {% endif %}

                {% if settings_items.age.enabled and event.age_range %}
                    <div class="list-item">
                    {% if settings_items.age.label is not empty %}
                        <div class="list-item-aside">
                            <em class="cnw_searchresult-detail-label">{{ settings_items.age.label }}</em>
                            <i class="cnw-fa cnw-fa-male"></i>
                        </div>
                        <div class="list-item-content">{{ event.age_range }}</div>
                    {% else %}
                        <div class="list-item-content">{{ event.age_range }}</div>
                    {% endif %}
                    </div>
                {% endif %}

                {% if settings_items.audience is defined and settings_items.audience.enabled and event.audience is defined and event.audience == "members" %}
                    <div class="list-item">
                    {% if settings_items.audience.label is not empty %}
                        <div class="list-item-aside">
                            <em class="cnw_searchresult-detail-label">{{ settings_items.audience.label }}</em>
                            <i class="cnw-fa cnw-fa-male"></i>
                        </div>
                        <div class="list-item-content">
                          Specifiek voor leden
                        </div>
                    {% else %}
                        <div class="list-item-content">
                          Specifiek voor leden
                        </div>
                    {% endif %}
                    </div>
                {% endif %}

                {% if settings_items.language_icons.enabled and event.language_icons %}
                  <div class="list-item">
                    <div class="list-item-aside">
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_language_icons'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-language"></i>
                    </div>
                    <div class="list-item-content">{{ event.language_icons | raw }}</div>
                  </div>
                {% endif %}

                {% if settings_items.price_information.enabled and event.price %}
                  <div class="list-item">
                    <div class="list-item-aside">
                        <em class="cnw_searchresult-detail-label">{{ 'event_detail_price'| transTo(preferredLanguage) }}</em>
                        <i class="cnw-fa cnw-fa-eur"></i>
                    </div>
                    <div class="list-item-content cnw_searchresult-price-info">{{ event.price | raw}}</div>
                  </div>
                {% endif %}

                {% if settings.reservation_information.enabled and event.booking_info %}
                  <div class="list-item">
                    <div class="list-item-aside">
                        <em class="cnw_searchresult-detail-label">Reserveringen</em>
                        <i class="cnw-fa cnw-fa-ticket"></i>
                    </div>
                    <div class="list-item-content cnw_searchresult-detail-booking-info">
                      {% if (event.booking_info.phone is defined) %}
                          <p>{{ 'event_detail_phone'| transTo(preferredLanguage) }} <strong>{{ event.booking_info.phone }}</strong></p>
                      {% endif %}
                      {% if (event.booking_info.email is defined) %}
                          <p>{{ event.booking_info.email }}</p>
                      {% endif %}
                      {% if (event.booking_info.url is defined) %}
                          <p><a href="{{ event.booking_info.url.url }}" target="_blank" data-click-tracking-category="detail" data-click-tracking-action="ticket" data-click-tracking-label="{{ event.name }}">{{ event.booking_info.url.label }}</a> </p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}


                {% if settings_items.facilities is defined and settings_items.facilities.enabled %}
                  <div class="list-item">
                    <div class="list-item-aside">
                        <em class="cnw_searchresult-detail-label">{{ settings_items.facilities.label }}</em>
                        <i class="cnw-fa cnw-fa-wheelchair-alt"></i>
                    </div>
                    <div class="list-item-content">
                        {% include 'widgets/facility-summary.html.twig' with { 'event': event } %}
                    </div>
                  </div>
                {% endif %}
            </div>

            {% if settings_items.labels.enabled and event.labels %}
                <div class="cnw_card-labels">
                    {%  for label in event.labels %}
                        <span class="cnw_search-result-tags-item">{{ label }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            {% if settings_items.read_more.enabled %}

                <a href="{{ event.detail_link }}" class="cnw_btn cnw_btn__card-readmore" data-click-tracking-category="detail" data-click-tracking-action="{{ click_tracking_action }}" data-click-tracking-label="readmore">{{ settings_items.read_more.label }}</a>

            {% endif %}

        </div>
    </div>
</div>
<!--  results - CARD  END -->
