<!--  Faceted search -->
<section class="cnw_facetedsearch cnw_facetedsearch--{{ facet.type }}">
    <h3 class="cnw_block-title">{{ facet.label }}</h3>

    <ul class="cnw_facet-search" data-size="{{ facet.count }}">
        {% for option in facet.options %}
            <li class="cnw_facet-label {{ option.active ? 'active' : '' }}">
                {% if option.active %}
                    <span>{{ option.name }} <a href="#" data-facet-type="{{ facet.type }}" data-facet-value="{{ option.value }}" data-facet-id="{{ facet.id is defined ? facet.id : '' }}" data-facet-option-id="{{ loop.index0 }}">x</a></span>
                {% else %}
                    <a href="#" data-facet-type="{{ facet.type }}" data-facet-value="{{ option.value }}" data-facet-id="{{ facet.id is defined ? facet.id : '' }}" data-facet-option-id="{{ loop.index0 }}">{{ option.name }}</a>
                    {% if option.count is defined %}
                        <small class="cnw_facet-count cnw_push-right">({{ option.count }})</small>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</section>