{% if pager and pager.pageCount > 1 %}
    <nav>
        <ul class="cnw_pagination cnw_pagination-sm cnw_justify-content-center">

            {% if pager.activePageIndex != 0 %}
                <li class="cnw_page-item ">
                    <a class="cnw_page-link" href="#" tabindex="-1" data-target-widget="{{ id }}" data-target-page="0">Eerste</a>
                </li>
                <li class="cnw_page-item">
                    <a class="cnw_page-link" href="#" tabindex="-1" data-target-widget="{{ id }}" data-target-page="{{ pager.activePageIndex - 1 }}">{{ 'pager_previous'| trans({}, 'messages', preferredLanguage) }}</a>
                </li>
            {% endif %}

            {% if pager.getLowestVisible != 1 %}
                <li class="pager-ellipsis disabled"><span>…</span></li>
            {% endif %}

            {% for i in pager.getLowestVisible..pager.getHighestVisible %}
                <li class="cnw_page-item {% if i == pager.activePageIndex + 1 %}cnw_disabled active{% endif %}">
                    <a class="cnw_page-link" href="#" data-target-widget="{{ id }}" data-target-page="{{ i-1 }}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if pager.getHighestVisible != pager.pageCount %}
                <li class="pager-ellipsis disabled"><span>…</span></li>
            {% endif %}

            {% if pager.activePageIndex != pager.pageCount-1 %}
                <li class="cnw_page-item">
                    <a class="cnw_page-link" href="#" data-target-widget="{{ id }}" data-target-page="{{ pager.activePageIndex + 1 }}">{{ 'pager_next'| trans({}, 'messages', preferredLanguage) }}</a>
                </li>
                <li class="cnw_page-item">
                    <a class="cnw_page-link" href="#" data-target-widget="{{ id }}" data-target-page="{{ pager.pageCount - 1 }}">{{ 'pager_last'| trans({}, 'messages', preferredLanguage) }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
