<!DOCTYPE html>
<html lang="nl" class=" td-md-is-os-x td-md-is-chrome"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ name }}</title>
    <meta name="title" content="{{ name }}">
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ name }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">
    <meta name="twitter:card" content="summary_large_image">
    <script>
        window.location.replace({{ url }});
    </script>
</head>
<body>
</body>
</html>