<div class="cnw_w">
    <div class="cnw_container-fluid">
        <div id="loadcontent">
            <div class="cnw_row cnw_clips">

                {% for event in events %}
                    <div class="cnw_col">
                        <!--  results - CARD  START -->
                        <div class="cnw_searchresult--block">
                            <div class="cnw_col-12">
                                <img src="{{ event.image }}" class="cnw_img_responsive">
                            </div>

                            <div class="cnw_col-12">
                                <div class="card-block ">
                                    <h3 class="cnw_card-title">{{ event.name }}</h3>
                                    <span class="cnw_stickers ">
                                        {% if settings.icon_vlieg.enabled %}
                                        <span class="cnw_sticker cnw_sticker--vlieg">
                                            <span class="cnw_txt">7+</span>
                                        </span>
                                        {% endif %}
                                    </span>
                                    {% if settings.description.enabled %}
                                    <p class="cnw_card-description">{{ event.description }}</p>
                                    {% endif %}
                                    <dl class="cnw_row">
                                        {% if settings.where.enabled %}
                                        <dt class="cnw_col-3">{{ settings.where.label }}</dt>
                                        <dd class="cnw_col-9">{{ event.where }}</dd>
                                        {% endif %}

                                        {% if event.organizer %}
                                        <dt class="cnw_col-3">Organisatie</dt>
                                        <dd class="cnw_col-9">{{ event.organizer }}</dd>
                                        {% endif %}

                                        {% if settings.when.enabled %}
                                        <dt class="cnw_col-3">{{ settings.when.label }}</dt>
                                        <dd class="cnw_col-9">{{ event.when_start }}</dd>
                                        {% endif %}

                                        {% if settings.age.enabled and event.age_range %}
                                        <dt class="cnw_col-3">{{ settings.age.label }}</dt>
                                        <dd class="cnw_col-9">{{ event.age_range }}</dd>
                                        {% endif %}

                                        <dt class="cnw_col-3">Taal</dt>
                                        <dd class="cnw_col-9">Nl - Fr - De</dd>

                                        {% if event.themes %}
                                        <dt class="cnw_col-3">Thema</dt>
                                        <dd class="cnw_col-9">
                                            {% for theme in event.themes %}
                                            <a href="" class="cnw_link__card-thema">{{ theme.getLabel }}</a>
                                            {% endfor %}
                                        </dd>
                                        {% endif %}
                                    </dl>
                                    {% if settings.read_more.enabled %}
                                    <a href="#" class="cnw_btn cnw_btn__card-readmore">{{ settings.read_more.label }}</a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <!--  results - CARD  END -->
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>