<div class="cnw_form-group">
    {% if label %}
        <label for="{{ label | lower | replace({' ': '-'}) }}">
           {{ label }}
        </label>
    {% endif %}
    <select id="{{ label | lower | replace({' ': '-'}) }}" class="cnw_form-control" name="{{ name }}" data-default-value="{{ default_option }}">
        {% if placeholder %}
            <option value="" {% if -1 == default_option %} selected{% endif %}>{{ placeholder }}</option>
        {% endif %}
        {% for option_key, option in options %}
           <option value="{{ option_key }}" {% if option_key == default_option %} selected{% endif %}>{{ option.label }}</option>
        {% endfor %}
    </select>
</div>
