<div class="cnw_form-group">
    {% if label %}
        <label>
           {{ label }}
        </label>
    {% endif %}
    <select class="cnw_form-control" name="{{ name }}">
        {% if placeholder %}
            <option value="" {% if -1 in default_options %} selected{% endif %}>{{ placeholder }}</option>
        {% endif %}
        {% for option_key, option in options %}
           <option value="{{ option_key }}" {% if option_key in default_options %} selected{% endif %}>{{ option.label }}</option>
        {% endfor %}
    </select>
</div>
